*{

    box-sizing: border-box;
    border: 1px dotted red;
    
}
.clearfix::after
{
    content:"";
    display: table;
    clear: both;
}

body
{
    font-size: 10px;
    
    
}

.Content
{
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
}

.blog-post
{
    width: 75%;
    padding-right: 20px;
    position: relative;
    
    float: left;
}
.blog-post img
{
    height: 125px;
    width: auto;
}
.other-post
{
    width: 25%;
    float: left;
}

.other
{
    margin-bottom: 40px;
}
.date
{
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 15px;
}

.Author-box
{
    padding-top: 15px;
    border-top: 1px solid grey;
}

.Author-box img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.Author-text
{
   color: rgb(0, 0, 0); 
   margin-top: 28px;
   margin-left: 10px;
   font-size: 14px;
   float: left;
}





h1,h2 
{
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 
{
    font-size: 35px;
    color: rgb(141, 42, 42);
    margin-top: 5px;
}
h2 
{
  
    font-size: 23px;
    
    color: green;
    
}


.main-text
{
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    margin-top: 0px;

}
.pibe
{
    margin-top: 10px;
    margin-bottom: 10px;
}